{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<link type="text/css" rel="stylesheet" href="{% static 'css/admin_style.css' %}">
    <title>Title</title>
</head>
<body style="margin-left:0%;margin-right:0%;margin-top:0%;">
{%  block  'body' %}
<nav class="navbar" style="background-color:#5CDB95;  display: flex;height:50px;margin-bottum:0%;" onmouseover="typeWriter()">
    <div class="logo" style="color:white;font-size:25px;margin-top:13px;margin-left:60px;">Grievances System</div>
      <ul class="nav-links">
            <div class="menu">

<a class="home"  href="{% url 'home' %}" >Home</a>&nbsp;&nbsp;
 <a class="about" href="{% url 'about' %}" >About</a>
                <a class="contact" href="{% url 'contact' %}">Feedback</a>&nbsp;


                <div class="dropdown">
  <button class="dropbtn">Login</button>
  <div class="dropdown-content">
  <a href="{% url 'studentlogin' %}">Student</a>
  <a href="{% url 'facultylogin' %}">Faculty</a>
  <a href="{% url 'login' %}">Admin</a>
  </div>
</div>
 &nbsp;

            </div>
      </ul>
</nav>

<div style="height:120;border:solid;margin-top:10px;border-radius:80px;border-color:#05386B;margin-left:10px;margin-right:10px;background-color:#05386B;">
<center>
    <h1 style="color:white;margin-top:40px;">About us</h1>
</center>
</div>
<div class="about"style="margin-top:20px;display:flex;flex:1 1;margin-left:10px;height:500px;" onmouseover="typeWriter()" >
  <div><img class="aboutimg" style="margin-left:0%;height:450px;width:480px;display :inline;margin-top:20px;" src="/static/images/about.jpg"></div>
     <div style=" color:#5CDB95;margin-left:20px;">


<p id="demo" style="font-size:20px;line-height:45px;"></p>
     </div>
</div>
<script>
      var i = 0;
var txt = "The Online Faculty/Student Grievance Management System is a web-based application designed to streamline and manage the process of addressing grievances and concerns raised by both faculty and students within an educational institution. The system provides a user-friendly platform for submitting, tracking, and resolving grievances efficiently, thereby enhancing communication and transparency between students, faculty, and administrative staff. ";
var speed = 15;

function typeWriter() {
  if (i < txt.length) {
    document.getElementById("demo").innerHTML += txt.charAt(i);
    i++;
    setTimeout(typeWriter, speed);
  }
}
</script>
{%  endblock %}
</body>
</html>